@inject SignInManager<Usuario> signInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <h1 class="display-4">Bienvenido al Foro</h1>
    <p>Se han precargado los siguientes usuarios:</p>
    <p>admin@admin.com | Password1!</p>
    <p>miembro1@miembro.com | Password1!</p>
    <p>miembro2@miembro.com | Password1!</p>
    <p>miembro3@miembro.com | Password1!</p>
    <p>miembro4@miembro.com | Password1!</p>

</div>

