@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Esta web application y el codigo contenido en ella, pertenecen exclusivamente a material didactivo de la materia Programacion de Nuevas Tecnologias I,
    dicatada en el 2do cuatrimestre del 2021, en el instituto ORT.
</p>

<p>
    Codigo de autoria perteneciente a: Javier Pyke, Victor Lacco y Diego Ponzo.
</p>
