@model FORO_C.Models.Pregunta

@{
    Entrada entrada = ViewData["Entrada"] as Entrada;
    ViewData["Title"] = "Hacer una pregunta ";
}

<h1>@ViewData["Title"] </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="EntradaId" />
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
                              
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activa" /> @Html.DisplayNameFor(model => model.Activa)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Subir pregunta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Entradas" asp-action="Ver" asp-route-id="@entrada.Id">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
